body {
  background: white;
  font-family: "Montserrat", sans-serif;
}
nav {
  background: #fff;
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 20%;
  height: 100%;
}
nav header img {
  max-width: 290px;
  padding-top: 1em;
}
nav ul {
  height: 88%;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #4d4e53;
  list-style: none;
  position: relative;
  width: 100%;
}
.nav-link {
  text-align: center;
  display: block;
  padding: 10px 10px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  margin: 5%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.nav-link:hover {
  text-align: center;
  display: block;
  padding: 10px 10px;
  color: rgb(216, 194, 0);
  text-decoration: none;
  cursor: pointer;
  margin: 5%;
}
.container {
  max-width: 1129px;
  max-height: 100vh;
  padding: 2em;
  margin-left: 296px;
  border-left: 4px solid rgb(73, 73, 73);
}
#black-container {
  background: #000;
}
#white-container {
  background: #fff;
}
#style-title {
  font-weight: 900;
  font-size: 7.5em;
  line-height: 1.5em;
}
#photo-item-black {
  max-width: 20em;
  padding: 1em;
  margin: 0.3em;
  border: 3px solid #fff;
}
#photo-item-white {
  max-width: 20em;
  padding: 1em;
  margin: 0.3em;
  border: 3px solid #000;
}
