body {
  background: black;
}
nav {
  background: #fff;
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid #222b19;
}
nav header img {
  max-width: 300px;
  padding-top: 1em;
  padding-bottom: 1em;
}
nav ul {
  height: 88%;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #4d4e53;
  list-style: none;
  position: relative;
  width: 100%;
}
.nav-link {
  text-align: center;
  background-color: #d0dbda;
  display: block;
  padding: 10px 10px;
  color: #212121;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 5%;
  box-shadow: 2px 2px 2px 2px #515151;
}
